<div [@routerTransition]>  
  <div class="row">
    <div class="col-3">
      <div class="card m-auto">
        <img class="card-img-top" src="http://via.placeholder.com/350x350" alt="Card image cap">
        <div class="card-body p-0">
            <ul class="list-group">
                <li class="list-group-item">{{doctor.specialty}}</li>
                <li class="list-group-item">{{doctor.location.line_1}}, {{doctor.location.line_2}}, <br>{{doctor.location.city}}, {{doctor.location.state}}, {{doctor.location.zip}}</li>
                <li class="list-group-item">Open 8am-5pm, MWF</li>
                <li class="list-group-item"><div class="badge badge-pill badge-primary"><i class="fa fa-phone pr-2"></i>407-455-3455</div></li>
                <li class="list-group-item"><div class="badge badge-pill badge-primary"><i class="fa fa-envelope pr-2"></i>{{doctor.email}}</div></li>
                <li class="list-group-item"><div class="badge badge-pill badge-primary"><i class="fa fa-facebook pr-2"></i>Dr. {{doctor.firstName}} {{doctor.lastName}}</div></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-11">
          <h4>
            Dr. {{doctor.firstName}} {{doctor.lastName}}
          </h4>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin diam orci, eu mattis lectus consectetur eget. 
              Curabitur ultricies non est a accumsan. Mauris efficitur id erat ut ultricies. Nunc id ex sollicitudin neque lobortis gravida a ut risus. 
              Maecenas et leo dictum, hendrerit libero eget, blandit diam. Suspendisse potenti. Cras sit amet consequat mi. Sed sem ligula, blandit in orci in, 
              luctus imperdiet nulla. Nullam sed cursus ipsum, a varius est. Nulla nec dolor vitae mi commodo mollis. Ut dignissim ipsum vel ipsum varius, 
              fermentum pharetra metus auctor. Donec luctus pretium purus, pulvinar consequat erat sagittis accumsan. Pellentesque sagittis volutpat ligula ac placerat. 
              Ut magna urna, malesuada et erat non, congue molestie dolor. Duis vitae porta sapien. Integer sodales interdum tristique.
          </p>
         <!-- <div class="d-flex px-4 justify-content-between">
           <h3> <div class="badge badge-pill badge-primary"><i class="fa fa-phone pr-2"></i>407-455-3455</div> </h3>
           <h3> <div class="badge badge-pill badge-primary"><i class="fa fa-envelope pr-2"></i>{{doctor.email}}</div> </h3>
           <h3> <div class="badge badge-pill badge-primary"><i class="fa fa-facebook pr-2"></i>Dr. {{doctor.firstName}} {{doctor.lastName}}</div> </h3>
          </div>-->
          <hr class="thick">
        <!--Calendar start-->
        <div class="row">
            <mwl-demo-utils-calendar-header
            [(view)]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="updateCalendarEvents()"
            (viewChange)="updateCalendarEvents()">
          </mwl-demo-utils-calendar-header>
        </div>
          <div class="row">
          <!--Actual Calendar-->
            <div id="calendar-col" class="col-12">
              <div [ngSwitch]="view">
                <mwl-calendar-month-view
                  *ngSwitchCase="'month'"
                  [viewDate]="viewDate"
                  [events]="events"
                  (dayClicked)="dayClicked($event, content)">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view
                  *ngSwitchCase="'week'"
                  [viewDate]="viewDate"
                  [events]="events"
                  (dayHeaderClicked)="dayClicked($event, content)">
                </mwl-calendar-week-view>
                <mwl-calendar-day-view
                  *ngSwitchCase="'day'"
                  [viewDate]="viewDate"
                  [events]="events"
                  (eventClicked)="eventClicked($event, content)">
                </mwl-calendar-day-view>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Request Appointment</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h4>
        {{clickedEvent.title}}
      </h4>
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column">
          <div>
            Date: {{clickedEvent.start | date }}
          </div>
          <div>
            Start Time: {{clickedEvent.start | date:'shortTime' }}
          </div>
          <div class="d-flex flex-row">
            End Time: {{clickedEvent.end | date:'shortTime'}}
          </div>
        </div>
        <div class="d-flex flex-column">
          <div>
            {{doctor.location.line_1}}, {{doctor.location.line_2}} 
          </div>
          <div>
            {{doctor.location.city}}, {{doctor.location.state}}, {{doctor.location.zip}} 
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="request(clickedEvent)">Request</button>
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancel</button>
    </div>
  </ng-template>




</div>