<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">Smart Health</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="nav-item" *ngIf= "!authService.currentUser">
                     <button class="btn btn-outline-secondary" routerLink="/login">Login</button>
                </li>
                <li class="nav-item dropdown" ngbDropdown *ngIf= "authService.currentUser">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>{{authService.currentUser.firstName}} {{authService.currentUser.lastName}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="dropdown-item" (click)="logout()">Logout</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
