<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Welcome to Smart Health</h1>
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-content">
                    <div class="form-group">
                        <input type="email" name="email" id="email" [(ngModel)]="model.email" #email ="ngModel" class="form-control input-lg" placeholder="Email" tabindex="1" required>
                        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" id="password" [(ngModel)]="model.password" #password ="ngModel" class="form-control input-lg" placeholder="Password" tabindex="1" required>
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                    </div>
                </div>
                <input type="submit" value="Log in" class="btn rounded-btn" tabindex="7">
                <a class="btn rounded-btn" [routerLink]="['/registration']">Register</a>
                <a class="btn rounded-btn" [routerLink]="['/doctor-registration']">Doctor Registration</a>
            </form>
        </div>
       <!-- <div class="col-md-4 mx-auto">
           <button [routerLink]="['/doctor-registration']">Doctor Registration</button>
        </div>-->
    </div>
</div>
