<div [@routerTransition]>
    
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2>Feeling sick?<br> Find a doctor to help!</h2>  
                </div>
            </div>
            <form>
                <div class="form-row">
                    <div class="col-4">
                        <input type="text" class="form-control form-control-lg"  placeholder="Name" name="name" [(ngModel)]="nameSearch">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control form-control-lg" placeholder="Specialty (ex. Dentist)"  name="specialty" [(ngModel)]="specSearch">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control form-control-lg" placeholder="Service (ex. Root Canal)"  name="service" [(ngModel)]="serviceSearch">
                    </div>
                    <div class="col">
                         <input type="text" class="form-control form-control-lg" placeholder="Zip"  name="zip" [(ngModel)]="zipSearch">
                    </div>
                </div>  
            </form>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-6 mb-2" *ngFor="let doctor of filtered | doctorSearch : nameSearch : specSearch : zipSearch :serviceSearch" [routerLink]= "['/doctor/'+ doctor._id]">
            <app-stat [bgClass]="m" [icon]= "doctor.picture" [firstName]="doctor.firstName" [lastName]="doctor.lastName" [showAddress]="true" [specialty]= "doctor.specialty" [address]="doctor.location"></app-stat>
        </div>
    </div>
   
    <div class="row d-none">
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
        <!-- <app-chat></app-chat>-->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
