<div [@routerTransition]>
    
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2>Feeling sick?<br> Find a doctor to help!</h2>  
                </div>
            </div>
            <form>
                <div class="form-row">
                    <div class="col-4">
                        <input type="text" class="form-control form-control-lg" placeholder="Name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control form-control-lg" placeholder="Specialty (ex. Dentist)">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control form-control-lg" placeholder="Service (ex. Root Canal)">
                    </div>
                    <div class="col">
                         <input type="text" class="form-control form-control-lg" placeholder="Zip">
                    </div>
                </div>  
            </form>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-6 mb-2" *ngFor="let doctor of doctors" [routerLink]= "['/doctor']">
            <app-stat [bgClass]="m" [icon]="'https://dummyimage.com/100x100/999/fff'" [name]="doctor.name" [specialty]= "doctor.specialty" [address]="doctor.address"></app-stat>
        </div>
    </div>
   
    <div class="row d-none">
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <app-chat></app-chat>
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
