<div class="card  {{bgClass}}">
    <div class="card-header">
        <div class="row">
            <div class="col-5 col-xs-3">
                <img src={{icon}}>
            </div>
            <div class="col col-xs-9 text-right">
                <div class="d-block huge">
                    <span *ngIf="isPatient == null">Dr </span> {{firstName}} {{lastName}}
                </div>
                <div class="d-block">{{specialty}}</div>
                <div *ngIf = "showAddress" class="d-block">
                    {{address.line_1}}, {{address.line_2}}
                    <br>{{address.city}}, {{address.zip}}
                </div>
            </div>
        </div>
    </div>
</div>
